/* Background Image Section */
.hero {
    height: calc(100vh - 50px); /* Full viewport height minus navbar height */
    background-image: url('img-8.jpg'); /* Replace with your image path */
    background-size: cover; /* Makes the image cover the entire section */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    position: relative; /* Makes the .hero container the reference point for absolute positioning */
}

/* SVG Overlay */
.svg-overlay {
    position: absolute; /* Place the icon relative to the .hero container */
    /*top: 150px; /* Center vertically */
    /*left: 200px; /* Center horizontally */
    transform: translate(-50%, -50%); /* Perfect centering */
    width: 50px; /* Adjust SVG size */
    height: 50px;
    fill:white
}

.navbar-collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
}
.navbar-collapse.show {
    max-height: 300px; /* Adjust to the height of your content */
}
@media (min-width: 992px) {
    .navbar-collapse {
        max-height: none !important;
        overflow: visible !important;
    }
}


.form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-container h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group input:focus {
    border-color: #007BFF;
    outline: none;
}

.form-group textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

.form-group textarea:focus {
    border-color: #007BFF;
    outline: none;
}

.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}